<h1>Conditions for <%= @condition.date %> </h1>
<li>Max Temperature (F): <%= @condition.max_temperature%>  </li>
<li>Mean Temperature (F): <%= @condition.mean_temperature%> </li>
<li>Min Temperature (F): <%= @condition.min_temperature%></li>
<li>Mean Humidity: <%= @condition.mean_humidity%> </li>
<li>Mean Visibility: <%= @condition.mean_visibility%> </li>
<li>Mean Wind Speed (MPH): <%= @condition.mean_wind_speed%> </li>
<li>Mean Precipitation (Inches): <%= @condition.mean_precipitation%></li>
<li>Zip Code: <%= @condition.zip_code%></li>
