<h3 class="main-header">Condition for <%= @condition.date %> </h3>
<figure class="card">
  <h2 class="sub-header">Max Temperature (F): <%= @condition.max_temperature%>  </h2>
  <h2 class="sub-header">Mean Temperature (F): <%= @condition.mean_temperature%> </h2>
  <h2 class="sub-header">Min Temperature (F): <%= @condition.min_temperature%></h2>
  <h2 class="sub-header">Mean Humidity: <%= @condition.mean_humidity%> </h2>
  <h2 class="sub-header">Mean Visibility (Miles): <%= @condition.mean_visibility%> </h2>
  <h2 class="sub-header">Mean Wind Speed (MPH): <%= @condition.mean_wind_speed%> </h2>
  <h2 class="sub-header">Mean Precipitation (Inches): <%= @condition.mean_precipitation%></h2>
  <h2 class="sub-header">Zip Code: <%= @condition.zip_code%></li>
</figure>

<%= link_to "<<< Back To All Conditions", conditions_path %>
