<h2 class="main-header"> 30 Most Recent Trips</h2>

<div class="btn-group">
  <% if params[:offset].to_i <= @trips.count + 59 %>
    <button type="button" class="btn"> <%= link_to "Next 30 Trips", "/trips/?offset=#{(params[:offset]).to_i + 30}" %></button> <br>
  <% end %>
  <% if params[:offset].to_i != 0 %>
    <button type="button" class="btn"> <%= link_to "Previous 30 Trips", "/trips/?offset=#{(params[:offset]).to_i - 30}" %></button> <br>
  <% end %>
</div>

<div class="card-container">
  <% @trips.each do |trip| %>
  <figure class="card">
    <h2 class="sub-header">Trip Duration:</h2> <p class="regular-text"><%= trip.duration %></p>
    <h2 class="sub-header">Trip Start Date:</h2> <p class="regular-text"><%= trip.start_date %></p>
    <h2 class="sub-header">Trip Starting Station:</h2> <p class="regular-text"><%= Station.find(trip.start_station_id).name %></p>
    <h2 class="sub-header">Trip End Date:</h2> <p class="regular-text"><%= trip.end_date %></p>
    <h2 class="sub-header">Trip Ending Station:</h2> <p class="regular-text"><%= Station.find(trip.end_station_id).name %></p>
    <h2 class="sub-header">Bike Used:</h2> <p class="regular-text"><%= trip.bike_id %></p>
    <h2 class="sub-header">Subcriber Type:</h2> <p class="regular-text"><%= trip.subscription_type %></p>
    <h2 class="sub-header">Trip Zip Code:</h2> <p class="regular-text"><%= trip.zip_code %></p>
    <h2 class="sub-header"><%= link_to "View This Trip", trip_path(trip) %></h2>
    <br>
    <div class="trip_<%= trip.id %>">
      <%if current_user && current_user.admin? %>
      <button  type="button" class="btn"><%= link_to "Edit", edit_admin_trip_path(trip) %></button>
      <button  type="button" class="btn"><%= link_to "Delete", admin_trip_path(trip), method: :delete %></button>
      <% end %>
    </div>
  </figure>
  <% end %>
</div>
