<h2> 30 Most Recent Trips</h2>

<% unless params[:offset] %>
  <%= link_to "Next 30 Trips", "/trips/?offset=30" %> <br>
<% end %>
<% if params[:offset] %>
  <%= link_to "Next 30 Trips", "/trips/?offset=#{(params[:offset]).to_i + 30}" %> <br>
<% end %>
<% if params[:offset].to_i != 0 %>
  <%= link_to "Previous 30 Trips", "/trips/?offset=#{(params[:offset]).to_i - 30}" %> <br>
<% end %>

<% @trips.each do |trip| %>
  Trip Duration: <%= trip.duration %>
  Trip Start Date: <%= trip.start_date %>
  Trip Starting Station: <%= trip.start_station_id %>
  Trip End Date: <%= trip.end_date %>
  Trip Ending Station: <%= trip.end_station_id %>
  Bike Used: <%= trip.bike_id %>
  Subcriber Type: <%= trip.subscription_type %>
  Trip Zip Code: <%= trip.zip_code %> <br>
<% end %>
