<center><h1 class="main-header">Trip Details</h1></center>
<figure class="card">
  <h2 class="sub-header">Duration: <%= @trip.duration %></h2>
  <h2 class="sub-header">Start date: <%= @trip.start_date %></h2>
  <h2 class="sub-header">Start station: <%= Station.find(@trip.start_station_id).name %></h2>
  <h2 class="sub-header">End date: <%= @trip.end_date %></h2>
  <h2 class="sub-header">End station: <%= Station.find(@trip.end_station_id).name %></h2>
  <h2 class="sub-header">Bike used: <%= @trip.bike_id %></h2>
  <h2 class="sub-header">Subscription type: <%= @trip.subscription_type %></h2>
  <h2 class="sub-header">Zip code: <%= @trip.zip_code %></h2>
  <div class="trip_<%= @trip.id %>">
    <%if current_user && current_user.admin? %>
     <button  type="button" class="btn btn-warning"><%= link_to "Edit", edit_admin_trip_path(@trip) %></button>
     <button  type="button" class="btn btn-danger"><%= link_to "Delete", admin_trip_path(@trip), method: :delete %></button>
    <% end %>
  </div>
</figure>


<%= link_to "<<< Back To All Trips", trips_path %>
