<h1>Stations</h1>
<% @stations.each do |station| %>
  <h2><%= link_to station.name, stations_path(station) %></h2>
  <p><%= station.city %></p>
  <p>Dock Count: <%= station.dock_count %></p>
  <p>Installation Date: <%= station.installation_date %></p>
  <% if current_admin? %>
  <section class=btn-group>
    <%= link_to 'Edit', edit_admin_station_path(station) %>
    <%= link_to 'Delete', admin_station_path(station), method: :delete, class: "delete-#{station.id}" %>
  </section>
  <% end %>
<% end %>
