<h1><%= @station.name %></h1>
<p><%=  @station.city %></p>
<p><%= @station.latitude %>, <%= @station.longitude %></p>
<p>Dock Count: <%= @station.dock_count %></p>
<p>Installed: <%= @station.installation_date %></p>
<p>Number of Rides Started at <%= @station.name %>: <%= @station.trip_start_count %></p>
<p>Number of Rides Ended at <%= @station.name %>: <%= @station.trip_end_count %></p>
