<h1>Trips Dashboard</h1>
<br>

<strong>Average Trip Duration:</strong> <%= (@trips.average_duration / 60).round(2) %> Hours <br>
<strong>Longest Trip Duration:</strong> <%= @trips.longest_duration / 60 %> Hours <br>
<strong>Shortest Trip Duration:</strong> <%= @trips.shortest_duration / 60 %> Hours <br>
<br>
<strong>Most Ridden Bike:</strong> <%= @trips.most_ridden.keys[0] %> with <%= @trips.most_ridden.values[0] %> rides <br>
<strong>Least Ridden Bike:</strong> <%= @trips.least_ridden.keys[0] %> with <%= @trips.least_ridden.values[0] %> rides <br>
<br>
<strong>User Type By Percentage:</strong> <br>
<ul>
<li>  <%= @trips.user_types.values[0] %> <%= @trips.user_types.keys[0] %>s make up <%= (((@trips.user_types.values[0]).to_f / (@trips.count).to_f) * 100).round(2) %>% of Total Users <br></li>
<li><%= @trips.user_types.values[1] %> <%= @trips.user_types.keys[1] %>s make up <%= (((@trips.user_types.values[1]).to_f / (@trips.count).to_f) * 100).round(2) %>% of Total Users <br></li>
</ul>
<br>
<strong>Busiest Day:</strong> <%= @trips.highest_number_of_rides %> rides on <%= @trips.busiest_day %> <br>
<strong>Slowest Day:</strong> <%= @trips.least_number_of_rides %> rides on <%= @trips.slowest_day %> <br>
<br>
<strong>Weather For Busiest Day:</strong>
<ul>
  <li>High Temperature: <%= @trips.weather_for_busiest_day.max_temperature %> </li> <br>
  <li>Mean Temperature <%= @trips.weather_for_busiest_day.mean_temperature %> </li> <br>
  <li>Low Temperature: <%= @trips.weather_for_busiest_day.min_temperature %> </li> <br>
  <li>Mean Humidity <%= @trips.weather_for_busiest_day.mean_humidity %> </li> <br>
  <li>Mean Visibility (Miles) <%= @trips.weather_for_busiest_day.mean_visibility %> </li> <br>
  <li>Mean Wind Speed <%= @trips.weather_for_busiest_day.mean_wind_speed %> </li> <br>
  <li>Mean Precipitation: <%= @trips.weather_for_busiest_day.mean_precipitation %> </li> <br>
</ul>

<strong>Weather For Slowest Day:</strong>
<ul>
  <li>High Temperature: <%= @trips.weather_for_slowest_day.max_temperature %> </li> <br>
  <li>Mean Temperature <%= @trips.weather_for_slowest_day.mean_temperature %> </li> <br>
  <li>Low Temperature: <%= @trips.weather_for_slowest_day.min_temperature %> </li> <br>
  <li>Mean Humidity <%= @trips.weather_for_slowest_day.mean_humidity %> </li> <br>
  <li>Mean Visibility (Miles) <%= @trips.weather_for_slowest_day.mean_visibility %> </li> <br>
  <li>Mean Wind Speed <%= @trips.weather_for_slowest_day.mean_wind_speed %> </li> <br>
  <li>Mean Precipitation: <%= @trips.weather_for_slowest_day.mean_precipitation %> </li> <br>
</ul>

<strong>Station With Most Starting Rides:</strong> <%= @trips.station_with_most_starts_name %> <br>
<strong>Station With Most Ending Rides:</strong> <%= @trips.station_with_most_ends_name %> <br>
<br>

<strong>Total Rides By Month</strong> <br>
<strong>January:</strong> <br>
2015: <%= @trips.monthly.values[5] %> <br>
<strong>February:</strong> <br>
2015: <%= @trips.monthly.values[6] %> <br>
<strong>March:</strong> <br>
2014: <%= @trips.monthly.values[0] %> <br>
2015: <%= @trips.monthly.values[7] %> <br>
<strong>April:</strong> <br>
2015: <%= @trips.monthly.values[8] %> <br>
<strong>May:</strong> <br>
2015: <%= @trips.monthly.values[9] %> <br>
<strong>June:</strong> <br>
2015: <%= @trips.monthly.values[10] %> <br>
<strong>July:</strong> <br>
2015: <%= @trips.monthly.values[11] %> <br>
<strong>August:</strong> <br>
2015: <%= @trips.monthly.values[12] %> <br>
<strong>September:</strong> <br>
2014: <%= @trips.monthly.values[1] %> <br>
<strong>October:</strong> <br>
2014: <%= @trips.monthly.values[2] %> <br>
<strong>Novemer:</strong> <br>
2014: <%= @trips.monthly.values[3] %> <br>
<strong>December:</strong> <br>
2014: <%= @trips.monthly.values[4] %> <br>
