<figure class="card">
  <%= form_for @user do |f| %>
    <div class="form-group row">
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>
    </div>

    <div class="form-group row">
      <%= f.label :address %> </label>
      <%= f.text_area :address, class: 'form-control' %>
    </div>

    <div class="form-group row">
      <%= f.label :city %>
      <%= f.text_field :city %>

      <%= f.label :state %>
      <%= f.text_field :state %>

      <%= f.label :zip_code %>
      <%= f.text_field :zip_code %>
    </div>

    <div class="form-group row">
      <%= f.label :email %>
      <%= f.email_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>
    <center>
      <%= f.submit class: 'btn' %>
    </center>
  <% end %>
</figure>
