<h3> Logged in as <%= current_user.name %>! </h3>
<ul> Email: <%= current_user.email %></ul>
<ul> Account Created: <%= current_user.created_at %></ul>
<button type="button" class="btn btn-warning"><%= link_to "Edit", edit_user_path(current_user) %></button>
<ul> Your Orders: <% current_user.orders.each do |order| %>
  <ul>
    <li><%= link_to order.id, order_path(order) %></li>
  </ul>
  <% end %>
</ul>
