
<ul> Name: <%= current_user.name %> </ul>

<ul> Email: <%= current_user.email %></ul>
<ul> Account Created: <%= current_user.created_at %></ul>
<ul> Address: <%= current_user.address %> </ul>
<ul> Orders: <% current_user.orders.each do |order| %>
  <ul>
    <li><%= link_to order.id, order_path(order) %></li>
  </ul>
  <% end %>
</ul>
<button type="button" class="btn btn-warning"><%= link_to "Edit", edit_user_path(current_user) %></button>
<%= link_to 'Bike Shop Accessories', admin_items_path %>
