<nav class="navbar navbar-fixed-top">
  <%= link_to "Bike Share", root_path, class: 'navbar-header' %>

  <ul class="nav navbar-nav navbar-center">
    <li><%= link_to 'Stations Data', stations_path, class: 'nav-item dropdown-toggle' %></li>
    <li><%= link_to 'Trips Data', trips_path, class: 'nav-item dropdown-toggle' %></li>
    <li><%= link_to 'Conditions Data', conditions_path, class: 'nav-item dropdown-toggle' %></li>
  </ul>

  <figure class="nav navbar-nav"><%= render partial: 'sessions/new' %></figure>
  <button class="btn"><%= link_to 'Sign Up', new_user_path %></button>
  <div class="nav-cart">
    <%= link_to '/cart' do %>
      <i class="glyphicon glyphicon-shopping-cart"></i>
    <% end %>
    <%= @cart.total_count %>
  </div>
</nav>
