<nav class="navbar navbar-fixed-top">
  <%= link_to "Bike Share", root_path, class: 'navbar-header' %>

  <ul class="nav navbar-nav navbar-center">
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href= ""> Stations <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Stations Data', stations_path %></li>
        <li><%= link_to 'Stations Dashboard', stations_dashboard_path %></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href= ""> Trips <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Trips Data', trips_path %></li>
        <li><%= link_to 'Trips Dashboard', trips_dashboard_path %></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href= ""> Conditions <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Conditions Data', conditions_path %></li>
        <li><%= link_to 'Weather Dashboard', weather_dashboard_path %></li>
      </ul>
    </ul>

  <figure class="nav navbar-nav"><%= render partial: 'sessions/new' %></figure>
  <button class="btn"><%= link_to 'Sign Up', new_user_path %></button>
</nav>
