<nav class="navbar navbar-fixed-top">
  <% if current_admin? %>
    <%= link_to "Bike Share", admin_dashboard_path, class: 'navbar-header navbar-brand' %>
  <% else %>
    <%= link_to "Bike Share", dashboard_path, class: 'navbar-header navbar-brand' %>
  <% end %>

  <ul class="nav navbar-nav navbar-center">
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href= ""> Stations <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Stations Data', stations_path %></li>
        <li><%= link_to 'Stations Dashboard', stations_dashboard_path %></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href= ""> Trips <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Trips Data', trips_path %></li>
        <li><%= link_to 'Trips Dashboard', trips_dashboard_path %></li>
      </ul>
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href= ""> Conditions <span class="caret"> </span></a>
      <ul class="dropdown-menu">
        <li><%= link_to 'Conditions Data', conditions_path %></li>
        <li><%= link_to 'Weather Dashboard', weather_dashboard_path %></li>
      </ul>
    </ul>

       <ul class="nav navbar-nav">
         <li class="nav-item">Logged in as
           <% if current_user.admin?%>
             Admin User: <%= current_user.full_name %>
             <button class="btn"><%= link_to 'Log Out', logout_path %></button>
           <% else %>
             <%= current_user.full_name %>
             <button class="btn"><%= link_to 'Log Out', logout_path %></button>
           <% end %>
         </li>
         <li class="nav-cart">
           <%= link_to '/cart' do %>
             <i class="glyphicon glyphicon-shopping-cart"></i>
           <% end %>
           <%= @cart.total_count %>
        </li>
      </ul>
  </div>
>>>>>>> resolves the merge conflicts
</nav>
