<h1>Order <%= @order.id %></h1>

<strong>Order Total:</strong> <%= @order.total %>
<strong>Order Status:</strong> <%= @order.status %>
<strong>Date Submitted:</strong> <%= @order.created_at %>

<% @order.items.each do |item| %>
  Item: <%= item.title %>
  Quantity: <%= @order.order_items.find_by(item_id: item.id).quantity %>
  Subtotal: <%= @order.order_items.find_by(item_id: item.id).quantity * item.price %>
<% end %>
