<h1> All Items in Cart </h1>
<% @cart.contents.each do |key, value| %>
  <%= link_to image_tag(Item.find(key).image.url, class: "media-object"), Item.find(key).image.url, target: "blank" %>
  (<%= value %>) <%= Item.find(key).title %> - $<%= Item.find(key).price * value %> <br>
  <ul>
    <li><%= Item.find(key).description %></li>
  </ul>
  <div class="item_<%= key %>">
    <button type="button" class="btn btn-danger"><%= link_to "Remove", remove_item_path(item_id: key), method: :patch %></button></br></br>
    <button type="button" class="btn btn-danger"><%= link_to "increase Count", increase_path(item_id: key), method: :patch %></button></br></br>
    <button type="button" class="btn btn-danger"><%= link_to "Decrease Count", decrease_path(item_id: key), method: :patch %></button></br></br>
  </div>
<% end %>
Total: $<%= @cart.total_cost %> <br>
<button type="button" class="btn btn-danger"><%= link_to "Check Out", orders_path, method: :post %></button>
