<h1 class="main-header"> All Items in Cart </h1>
  <div class="card-container">
    <% @cart.contents.each do |key, value| %>
      <figure class="card">
        <%= link_to image_tag(Item.find(key).image.url, class: "media-object"), Item.find(key).image.url, target: "blank" %>
        <h2 class="sub-header">(<%= value %>) <%= link_to Item.find(key).title, item_path(key) %> - $<%= Item.find(key).price * value %></h2>
        <p class="regular-text"><%= Item.find(key).description %></p>
        <div class="item_<%= key %> btn-group">
          <button type="button" class="btn"><%= link_to "Remove", remove_item_path(item_id: key), method: :patch %></button></br></br>
          <button type="button" class="btn"><%= link_to "Increase", increase_path(item_id: key), method: :patch %></button></br></br>
          <button type="button" class="btn"><%= link_to "Decrease", decrease_path(item_id: key), method: :patch %></button></br></br>
        </div>
      </figure>
    <% end %>
  </div>
    Total: $<%= @cart.total_cost %> <br>
    <button type="button" class="btn"><%= link_to "Check Out", orders_path, method: :post %></button>
