<figure class="media">
  <%= link_to image_tag(item.image.url, class: 'media-object'), item.image.url, target: '_blank' %>
  <figcaption class="media-heading">
    <div class="item_<%= item.id %>">
      <h1><%= item.title %></h1>
      <h2>$<%= item.price %></h2>
      <p><%= item.description %></p>
      <%= button_to "Add Item", carts_path(item_id: item) %>
    </div>
  </figcaption>
</figure>
