<figure class="media">
  <%= link_to image_tag(item.image.url, class: 'media-object'), item.image.url, target: '_blank' %>
  <figcaption class="media-heading">
    <div class="item_<%= item.id %>">
      <h1><%= item.title %></h1>
      <h2>$<%= item.price %></h2>
      <p><%= item.description %></p>
      <%= button_to "Add Item", carts_path(item_id: item) %>
    </div>
  </figcaption>
  <% if item.active? %>
    <%= button_to "Add to Cart", carts_path(item_id: item.id), class: "add_item_#{item.id}" %>
  <% else %>
    <p>Accessory Retired</p>
  <% end %>
  <% if current_admin? %>
    <div class="item-<%= item.slug %>">
      <%= item.status %>
      <%= link_to "Edit", admin_bike_shop_edit_path(item) %>
      <% if item.active? %>
        <%= link_to 'Retire', admin_bike_shop_path(item, status: 1), method: :patch %>
      <% elsif item.retired? %>
        <%= link_to 'Reactivate', admin_bike_shop_path(item, status: 0), method: :patch %>
      <% end %>
    </div>
  <% end %>
</figure>
