<!DOCTYPE html>
<html>
  <head>
    <title>BikeShare</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="//code.jquery.com/jquery.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </head>

  <body>
    <% if current_user.nil?  %>
      <%= render "shared/login_navigation" %>
    <% else %>
      <%= render "shared/user_navigation" %>
    <% end %>


    <main id="main-container">
      <% flash.each do |type, message| %>
      <%= content_tag :div, message, class: type %>
      <% end %>

    <%= yield %>

  </main>
  </body>
</html>
